{% extends "../layout/base.html" %}
{% load static from staticfiles %}


{% block content %}
<div>
	<center>
		<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-floor-plan" style="width: 200px;height: 200px;">
			<i class="fa fa-plus-circle" style="font-size: 40pt;"></i>
			<br>
			<h3>Add floor plan</h3>
		</button>
	</center>
	<div class="modal fade" id="add-floor-plan" tabindex="-1" role="dialog" aria-labelledby="add-form-label" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="add-form-label">Add floor plan</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form method="POST" action="add_floor_plan/" class="add-floor-plan" enctype="multipart/form-data">{% csrf_token %}
<!--
						<div class="form-group">
							<label for="floor-name">Name:</label>
							<input type="text" class="form-control" id="floor-name">
						</div>
						<div class="form-group">
							<label for="floor-number">Floor:</label>
							<input type="number" class="form-control" id="floor-number">
						</div>
						<div class="form-group">
							<label for="floor-file">Image File:</label>
							<input type="file" class="form-control" id="floor-file">
						</div>
-->
						{{ form.as_p }}

						<button type="submit" class="btn btn-primary" style="float: right;">&nbsp;Add&nbsp;&nbsp;</button>

					</form>
				</div>
			</div>
		</div>
	  </div>
</div>
{% endblock content %}
